In [41]:
import pandas as pd

In [42]:
import glob
glob.glob('./*.csv')

['.\\test1_predict.csv',
 '.\\test1_predict_amount_spent.csv',
 '.\\test1_predict_survival_time.csv',
 '.\\test2_predict.csv',
 '.\\test2_predict_amount_spent.csv',
 '.\\test2_predict_survival_time.csv']

In [43]:
t1_survival = pd.read_csv('./test1_predict_survival_time.csv')
t2_survival = pd.read_csv('./test2_predict_survival_time.csv')

In [44]:
t1_amount = pd.read_csv('./test1_predict_amount_spent.csv')
t2_amount = pd.read_csv('./test2_predict_amount_spent.csv')

In [45]:
t1_survival.head()

   acc_id  survival_time
0   31609             64
1   95442             64
2  117641             46
3   16783             64
4   58743             58

In [46]:
t1_amount.head()

   acc_id  amount_spent
0   31609      0.041736
1   95442      0.062243
2  117641      0.046985
3   16783      5.262892
4   58743      0.731883

In [47]:
t1_pred = t1_survival.merge(t1_amount, on='acc_id', how='outer')
t2_pred = t2_survival.merge(t2_amount, on='acc_id', how='outer')

In [48]:
t1_pred.head()

   acc_id  survival_time  amount_spent
0   31609             64      0.041736
1   95442             64      0.062243
2  117641             46      0.046985
3   16783             64      5.262892
4   58743             58      0.731883

In [49]:
t2_pred.head()

   acc_id  survival_time  amount_spent
0   43337             64      0.000000
1   16892             64      0.594897
2   13584             27      0.265507
3  125768             49      0.192995
4  104465             39      0.000000

In [50]:
t1_pred.to_csv('./test1_predict.csv', index = False, encoding='UTF-8', header = True)
t2_pred.to_csv('./test2_predict.csv', index = False, encoding='UTF-8', header = True)