In [1]:
import pandas as pd
import numpy as np

import os
print(os.listdir('./input/'))

['EDA(1)_test1_activity.csv', 'EDA(1)_test1_combat.csv', 'EDA(1)_test1_payment.csv', 'EDA(1)_test1_pledge.csv', 'EDA(1)_test1_source_trade.csv', 'EDA(1)_test1_target_trade.csv', 'EDA(1)_test2_activity.csv', 'EDA(1)_test2_combat.csv', 'EDA(1)_test2_payment.csv', 'EDA(1)_test2_pledge.csv', 'EDA(1)_train_activity.csv', 'EDA(1)_train_combat.csv', 'EDA(1)_train_payment.csv', 'EDA(1)_train_pledge.csv', 'EDA(1)_train_source_trade.csv', 'EDA(1)_train_target_trade.csv', 'EDA(2)_test1_combat.csv', 'EDA(2)_test2_combat.csv', 'EDA(2)_train_combat.csv', 'sort_train_label.csv']

In [2]:
tr_act = pd.read_csv('./input/EDA(1)_train_activity.csv')
tr_combat = pd.read_csv('./input/EDA(2)_train_combat.csv')
tr_pledge = pd.read_csv('./input/EDA(1)_train_pledge.csv')
tr_label = pd.read_csv('./Data/train_label.csv')

In [3]:
print(len(tr_act.acc_id.unique()))
print(len(tr_combat.acc_id.unique()))
print(len(tr_pledge.acc_id.unique()))

40000
40000
33854

In [4]:
train = tr_label.merge(tr_act, on='acc_id', how='outer')
train = train.merge(tr_combat, on='acc_id', how='outer')

In [5]:
t1_act = pd.read_csv('./input/EDA(1)_test1_activity.csv')
t1_combat = pd.read_csv('./input/EDA(2)_test1_combat.csv')
t1_pledge = pd.read_csv('./input/EDA(1)_test1_pledge.csv')

In [6]:
t2_act = pd.read_csv('./input/EDA(1)_test2_activity.csv')
t2_combat = pd.read_csv('./input/EDA(2)_test2_combat.csv')

In [7]:
test1 = t1_act.merge(t1_combat, on='acc_id', how='outer')

In [8]:
test1 = test1.drop_duplicates()

In [9]:
test2 = t2_act.merge(t2_combat, on='acc_id', how='outer')

In [10]:
test2 = test2.drop_duplicates()

In [11]:
print(train.shape)
train.head()

(103802, 31)

,acc_id,survival_time,amount_spent,playtime,npc_kill,solo_exp,party_exp,quest_exp,boss_monster,death,...,etc_cnt,num_opponent,class_0,class_1,class_2,class_3,class_4,class_5,class_6,class_7
0,27835,64,0.002559,9.978209,12.747726,0.130439,0.000000,0.022510,1,0.245370,...,2.139619,1.962575,0,0,1,0,0,1,0,0
1,27835,64,0.002559,9.978209,12.747726,0.130439,0.000000,0.022510,1,0.245370,...,2.139619,1.962575,0,0,1,0,0,1,0,0
2,12351,64,0.120154,82.013292,37.056629,0.532874,0.039412,0.016449,7,0.981479,...,2.364842,12.854867,1,0,1,1,1,1,0,1
3,12351,64,0.120154,82.013292,37.056629,0.532874,0.039412,0.016449,7,0.981479,...,2.364842,12.854867,1,0,1,1,1,1,0,1
4,12351,64,0.120154,82.013292,37.056629,0.532874,0.039412,0.016449,7,0.981479,...,2.364842,12.854867,1,0,1,1,1,1,0,1

In [12]:
print(test1.shape)
test1.head()

(20000, 29)

,acc_id,playtime,npc_kill,solo_exp,party_exp,quest_exp,boss_monster,death,revive,exp_recovery,...,etc_cnt,num_opponent,class_0,class_1,class_2,class_3,class_4,class_5,class_6,class_7
0,31609,13.595013,12.164742,0.167590,0.010240,0.026406,2,0.000000,0.000000,0.000000,...,0.563058,1.766318,0,1,0,0,0,0,0,0
1,95442,24.037766,3.774892,0.094306,0.717324,0.116473,17,0.736109,0.493639,0.000000,...,7.770195,7.850300,1,1,1,0,0,0,0,0
4,117641,14.813255,0.704440,0.072313,0.128837,0.016352,10,1.962958,1.974554,15.915248,...,35.697854,52.302626,1,1,1,1,0,0,0,0
8,16783,91.761600,86.483799,0.143200,0.000000,0.000000,0,0.736109,0.000000,0.000000,...,217.452857,68.690128,0,1,0,0,0,1,0,0
10,58743,2.573951,1.462522,0.090403,0.097051,0.003463,0,0.245370,0.246819,0.000000,...,0.563058,0.490644,0,1,1,1,0,0,0,0

In [13]:
train = train.drop('acc_id', axis = 1)
test01 = test1.drop('acc_id', axis = 1)
test02 = test2.drop('acc_id', axis = 1)

In [14]:
train.head()

,survival_time,amount_spent,playtime,npc_kill,solo_exp,party_exp,quest_exp,boss_monster,death,revive,...,etc_cnt,num_opponent,class_0,class_1,class_2,class_3,class_4,class_5,class_6,class_7
0,64,0.002559,9.978209,12.747726,0.130439,0.000000,0.022510,1,0.245370,0.246819,...,2.139619,1.962575,0,0,1,0,0,1,0,0
1,64,0.002559,9.978209,12.747726,0.130439,0.000000,0.022510,1,0.245370,0.246819,...,2.139619,1.962575,0,0,1,0,0,1,0,0
2,64,0.120154,82.013292,37.056629,0.532874,0.039412,0.016449,7,0.981479,0.987277,...,2.364842,12.854867,1,0,1,1,1,1,0,1
3,64,0.120154,82.013292,37.056629,0.532874,0.039412,0.016449,7,0.981479,0.987277,...,2.364842,12.854867,1,0,1,1,1,1,0,1
4,64,0.120154,82.013292,37.056629,0.532874,0.039412,0.016449,7,0.981479,0.987277,...,2.364842,12.854867,1,0,1,1,1,1,0,1

In [15]:
train = train.drop(['boss_monster', 'exp_recovery', 'enchant_count', 'random_defender_cnt', 'same_pledge_cnt'], axis = 1)
test01 = test01.drop(['boss_monster', 'exp_recovery', 'enchant_count', 'random_defender_cnt', 'same_pledge_cnt'], axis = 1)
test02 = test02.drop(['boss_monster', 'exp_recovery', 'enchant_count', 'random_defender_cnt', 'same_pledge_cnt'], axis = 1)

In [16]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score

In [17]:
from sklearn.model_selection import train_test_split
X = train.drop(['survival_time', 'amount_spent'], axis = 1)
y = train['amount_spent']

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=50)

In [19]:
# for col in X_train.columns:
#     X_train.loc[X_train[col] != 0,col] = np.log(X_train.loc[X_train[col] != 0, col])
#     test1.loc[test1[col] != 0, col] = np.log(test1.loc[test1[col] != 0, col])
#     X_train.loc[X_train[col] == 0, col] = -999
#     test1.loc[test1[col] == 0, col] = -999

In [20]:
X_train.head()

,playtime,npc_kill,solo_exp,party_exp,quest_exp,death,revive,fishing,private_shop,game_money_change,...,etc_cnt,num_opponent,class_0,class_1,class_2,class_3,class_4,class_5,class_6,class_7
25250,7.631789,31.498709,1.926434,0.000000,0.077921,0.736109,0.740458,0.533435,0.000000,-0.017283,...,0.337835,0.392515,0,1,0,1,0,0,0,0
43211,32.484877,17.120110,0.369625,0.000013,0.094425,0.000000,0.000000,4.217591,7.868722,-1.108078,...,0.225223,0.294386,1,1,1,1,1,1,1,1
1274,74.874488,51.491232,0.514811,0.053113,4.640439,0.490740,0.493639,34.618696,0.000000,-0.628626,...,7.544972,14.130541,0,1,1,1,1,0,0,1
5210,72.044564,20.932114,0.954247,0.000000,0.018127,0.490740,0.493639,58.212381,0.000000,-0.075968,...,0.225223,0.785030,0,1,1,1,0,0,1,1
74638,4.709430,3.556273,24.442541,0.071033,2.670449,0.490740,0.493639,0.248981,0.000000,0.008344,...,0.000000,0.098129,0,1,1,0,1,1,0,1

In [21]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso

In [22]:
lr_reg = LinearRegression()
lr_reg.fit(X_train, y_train)
ridge_reg = Ridge()
ridge_reg.fit(X_train, y_train)
lasso_reg = Lasso()
lasso_reg.fit(X_train, y_train)

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [23]:
lr_pred = lr_reg.predict(X_test)
ridge_pred = ridge_reg.predict(X_test)
lasso_pred = lasso_reg.predict(X_test)

In [24]:
from sklearn.metrics import explained_variance_score
print('LinearRegression : ', explained_variance_score(y_test, lr_pred))
print('Ridge : ', explained_variance_score(y_test, ridge_pred))
print('Lasso : ', explained_variance_score(y_test, lasso_pred))

LinearRegression :  0.009094306110135952
Ridge :  0.009094368723853052
Lasso :  0.0

In [25]:
print(train.columns)
print(test01.columns)
print(test02.columns)

Index(['survival_time', 'amount_spent', 'playtime', 'npc_kill', 'solo_exp',
       'party_exp', 'quest_exp', 'death', 'revive', 'fishing', 'private_shop',
       'game_money_change', 'pledge_cnt', 'random_attacker_cnt', 'temp_cnt',
       'etc_cnt', 'num_opponent', 'class_0', 'class_1', 'class_2', 'class_3',
       'class_4', 'class_5', 'class_6', 'class_7'],
      dtype='object')
Index(['playtime', 'npc_kill', 'solo_exp', 'party_exp', 'quest_exp', 'death',
       'revive', 'fishing', 'private_shop', 'game_money_change', 'pledge_cnt',
       'random_attacker_cnt', 'temp_cnt', 'etc_cnt', 'num_opponent', 'class_0',
       'class_1', 'class_2', 'class_3', 'class_4', 'class_5', 'class_6',
       'class_7'],
      dtype='object')
Index(['playtime', 'npc_kill', 'solo_exp', 'party_exp', 'quest_exp', 'death',
       'revive', 'fishing', 'private_shop', 'game_money_change', 'pledge_cnt',
       'random_attacker_cnt', 'temp_cnt', 'etc_cnt', 'num_opponent', 'class_0',
       'class_1', 'class_2', 'class_3', 'class_4', 'class_5', 'class_6',
       'class_7'],
      dtype='object')

In [26]:
t1_pred = lr_reg.predict(test01)
# t1_pred = ridge_reg.predict(test01)
# t1_pred = lasso_reg.predict(test01)

In [27]:
t2_pred = lr_reg.predict(test02)
# t2_pred = ridge_reg.predict(test02)
# t2_pred = lasso_reg.predict(test02)

In [28]:
test1.columns

Index(['acc_id', 'playtime', 'npc_kill', 'solo_exp', 'party_exp', 'quest_exp',
       'boss_monster', 'death', 'revive', 'exp_recovery', 'fishing',
       'private_shop', 'game_money_change', 'enchant_count', 'pledge_cnt',
       'random_attacker_cnt', 'random_defender_cnt', 'temp_cnt',
       'same_pledge_cnt', 'etc_cnt', 'num_opponent', 'class_0', 'class_1',
       'class_2', 'class_3', 'class_4', 'class_5', 'class_6', 'class_7'],
      dtype='object')

In [29]:
t1_submission = test1.drop(['playtime', 'npc_kill', 'solo_exp', 'party_exp', 'quest_exp',
       'boss_monster', 'death', 'revive', 'exp_recovery', 'fishing',
       'private_shop', 'game_money_change', 'enchant_count', 'pledge_cnt',
       'random_attacker_cnt', 'random_defender_cnt', 'temp_cnt',
       'same_pledge_cnt', 'etc_cnt', 'num_opponent', 'class_0', 'class_1',
       'class_2', 'class_3', 'class_4', 'class_5', 'class_6', 'class_7'], axis = 1)

In [30]:
t2_submission = test2.drop(['playtime', 'npc_kill', 'solo_exp', 'party_exp', 'quest_exp',
       'boss_monster', 'death', 'revive', 'exp_recovery', 'fishing',
       'private_shop', 'game_money_change', 'enchant_count', 'pledge_cnt',
       'random_attacker_cnt', 'random_defender_cnt', 'temp_cnt',
       'same_pledge_cnt', 'etc_cnt', 'num_opponent', 'class_0', 'class_1',
       'class_2', 'class_3', 'class_4', 'class_5', 'class_6', 'class_7'], axis = 1)

In [40]:
for i in range(len(t1_pred)):
    if t1_pred[i] <= 0 :
        t1_pred[i] = 0
for i in range(len(t2_pred)):
    if t2_pred[i] <= 0 :
        t2_pred[i] = 0

In [41]:
t1_submission['amount_spent'] = t1_pred

t2_submission['amount_spent'] = t2_pred

In [42]:
t1_submission.to_csv('./test1_predict_amount_spent.csv', encoding = 'UTF-8', header = True, index = False)
t2_submission.to_csv('./test2_predict_amount_spent.csv', encoding = 'UTF-8', header = True, index = False)

In [34]:
t1_submission.columns

Index(['acc_id', 'amount_spent'], dtype='object')

In [45]:
t1_submission.amount_spent.max()

0.43120356400218507

In [46]:
t2_submission.amount_spent.max()

0.4342804864389378

In [77]:
from sklearn import tree
DTR = tree.DecisionTreeRegressor(max_depth = 20)
DTR.fit(X_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=20, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [78]:
DTR_pred = DTR.predict(X_test)

In [79]:
print('DecisionTreeRegressor : ', explained_variance_score(y_test, DTR_pred))

DecisionTreeRegressor :  -0.16951798132165385

In [80]:
t1_DTR_pred = DTR.predict(test01)
t2_DTR_pred = DTR.predict(test02)

In [81]:
t1_DTR_submission = test1.drop(['playtime', 'npc_kill', 'solo_exp', 'party_exp', 'quest_exp',
       'boss_monster', 'death', 'revive', 'exp_recovery', 'fishing',
       'private_shop', 'game_money_change', 'enchant_count', 'pledge_cnt',
       'random_attacker_cnt', 'random_defender_cnt', 'temp_cnt',
       'same_pledge_cnt', 'etc_cnt', 'num_opponent', 'class_0', 'class_1',
       'class_2', 'class_3', 'class_4', 'class_5', 'class_6', 'class_7'], axis = 1)
t2_DTR_submission = test2.drop(['playtime', 'npc_kill', 'solo_exp', 'party_exp', 'quest_exp',
       'boss_monster', 'death', 'revive', 'exp_recovery', 'fishing',
       'private_shop', 'game_money_change', 'enchant_count', 'pledge_cnt',
       'random_attacker_cnt', 'random_defender_cnt', 'temp_cnt',
       'same_pledge_cnt', 'etc_cnt', 'num_opponent', 'class_0', 'class_1',
       'class_2', 'class_3', 'class_4', 'class_5', 'class_6', 'class_7'], axis = 1)

In [82]:
t1_DTR_submission['amount_spent'] = t1_DTR_pred
t2_DTR_submission['amount_spent'] = t2_DTR_pred

In [83]:
t1_DTR_pred.max()

39.41263209871594

In [84]:
t2_DTR_pred.max()

39.41263209871594

In [85]:
t2_DTR_pred

array([0.00827122, 0.14312119, 0.26550701, ..., 0.07706708, 0.01895241,
       0.        ])

In [86]:
t1_DTR_submission.to_csv('./test1_predict_amount_spent.csv', index=False)
t2_DTR_submission.to_csv('./test2_predict_amount_spent.csv', index=False)